{{#link-to "index" id="allCables"}}Submarine Cable List{{/link-to}}
<h2 id="name">{{model.name}}</h2>
<div id="description" style="margin-top: 15px;">
	<h3>Cables</h3>
	<ul class="features">
		{{#each model.cables as |cable|}}
		<li>
			{{#link-to "submarine-cable" cable.id}}{{cable.name}}{{/link-to}}
		</li>
		{{/each}}
	</ul>
</div>